              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#reading">
                      阅读摘要
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#javascript">
                      javascript
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#html">
                      html
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#css">
                      css
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#webtech">
                      网络技术
                    </a>
                  </li>                  
		  <li>
                    <a href="/categories.html#webdesign">
                      前端设计
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#webdeve">
                      Web开发
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#network">
                      other
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
